body{
    font-size: 14px;
}

/* AuthPage */
.auth-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/auth-background.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.auth-box{
    width: 368px;
    min-width: 260px;
}

.auth-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 48px 0 24px;
    padding: 0 16px;
    text-align: center;
    color: #000000a6;
}
